<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MEJO 584 Project 1 - Marvel API</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>
    
    <header class="flex">
      <h1>
        Brooke's Really Awesome Marvel API chart project
      </h1>
    </header>

    <main>
      
      <section class="panel charts flex-column">
        <!--chart JS html here-->
        <h1>A Breakdown of the Marvel Universe Creators</h1>
        <p>
          This chart breaks down some of the most famous Marvel creators and how many comics, series and stories they created. Many of them collaborated together to create iconic
          characters such as Iron Man, Captain America, Spider-Man and more!
        </p>

        <div class="chart-container">
          <canvas id="barChart" aria-label="A bar chart showing ten creators from Marvel API data">
          </canvas>
        </div>

        <p>
          Data from <a href="https://developer.marvel.com/" target="_blank">Marvel</a>, retrieved 3/5/2019
        </p> 
      </section>  
      
      <section class="panel flex-column spider-man">
        <h2>
          Spider-Man: Into the Spiderverse
        </h2>
        <div id="spidey-data" class="flex-column"></div>
      </section>
      
      <section class="panel characters" style="background-color: yellow">
        <h1>So after <em>Avengers: Infinity War</em>, who's still alive?</h1>
        <div id="marvel-characters" class="flex"></div>
        Data provided by Marvel. ©2019 Marvel.
        <br/>
        Made with <a href="https://glitch.com">Glitch</a>!
      </section>
    </main>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    
    <!-- import Scroll Magic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
    
     <!-- import Chart.js library via CDN, per Chart.js documentation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" defer></script>
    
    <!-- import MixItUp -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>

  </body>
</html>
